<header class="masthead">
  <div class="masthead-nav">
    <a href="{{ site.baseurl_root }}/{{ site.lang | replace: 'en', '' }}">
      <img
        class="masthead-logo"
        src="{{ site.baseurl_root }}/assets/img/logo.png"
      />
    </a>

    <div class="masthead-links">  
      <a target="_blank" rel="noreferrer" href="https://mask.io">
        Home
      </a>
      <a
        id="news"
        rel="noreferrer"        
        href="/"
      >
        News
      </a>
      <a
        target="_blank" 
        rel="noreferrer"         
        href="https://we.mask.io/"
      >
        Community
      </a>
      <a target="_blank" rel="noreferrer" href="https://mask.io/faq">
        Help
      </a>
      <a
        target="_blank" 
        rel="noreferrer"          
        href="https://kan-1.gitbook.io/mask-network/plugin-system/mask-plugin"
      >
        Docs
      </a>
      <a target="_blank" rel="noreferrer" href="https://mask.io/about">
        About
      </a>        
    </div>

    <a class="download-link" href="https://mask.io/download-links/" target="_blank" rel="noreferrer">Get Mask</a>

    <div class="masthead-nav-menu">
      <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
      <label for="drawer-toggle" id="drawer-toggle-label"></label>   
      <div id="drawer">
        <p className="title">
          Welcome to Mask Network
        </p>            
        <a target="_blank" rel="noreferrer" href="https://mask.io">
          Home
        </a>
        <a
          id="news"
          rel="noreferrer"        
          href="/"
        >
          News
        </a>
        <a
          target="_blank" 
          rel="noreferrer"         
          href="https://we.mask.io/"
        >
          Community
        </a>
        <a target="_blank" rel="noreferrer" href="https://mask.io/faq">
          Help
        </a>
        <a
          target="_blank" 
          rel="noreferrer"          
          href="https://kan-1.gitbook.io/mask-network/plugin-system/mask-plugin"
        >
          Docs
        </a>
        <a target="_blank" rel="noreferrer" href="https://mask.io/about">
          About
        </a>

        <a id="downloads" target="_blank" rel="noreferrer" href="https://mask.io/download">
          Get Mask
        </a>        
      </div>   
    </div>
  </div>
</header>
